# Workshop: **Urine analysis**


Contact: phyuphyuthein

Email: e0457806@u.nus.edu.sg


[Dataset] The dataset and the reference code are from https://www.kaggle.com/code/kerneler/starter-measurements-of-urine-ph-6e5c2fed-5

In [11]:
from sklearn.preprocessing import StandardScaler
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [12]:
nRowsRead = 1000 # specify 'None' if want to read whole file
df1 = pd.read_csv('/Users/phyuphyuthein/Documents/Projects/urine_analysis/ph_v1_days.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'ph_v1_days.csv'
df1.fillna(0,inplace = True)
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 212 rows and 99 columns

In [13]:
df1.head(5)

,Date,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),...,Cookie,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly
0,06.09.2017,5.41,5.25,5.55,5.40,0.0,0.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,07.09.2017,7.06,5.70,5.32,6.03,0.0,1.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,08.09.2017,6.26,5.75,5.43,5.81,0.0,0.0,1350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09.09.2017,5.35,6.85,6.09,6.10,0.0,0.0,2350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10.09.2017,6.62,6.34,5.23,6.06,0.0,1.0,1600,250.0,0.0,...,0.0,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_cat = df1
df_cat.loc[df1['PH_morning'] < 6.4 ,'PH_morning'] = 0
#df_cat.loc[(df1['PH_morning'] >= 6.4) & (df1['PH_morning'] < 6.8), 'PH_morning'] = 1
df_cat.loc[df1['PH_morning'] >= 6.4 ,'PH_morning'] = 1
#df_cat = df1[[col for col in df1 if df1[col].nunique() > 1]] # keep columns where there are more than 1 unique values
df_cat.fillna(0,inplace = True)
df_cat

,Date,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),...,Cookie,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly
0,06.09.2017,0.0,5.25,5.55,5.40,0.0,0.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,07.09.2017,1.0,5.70,5.32,6.03,0.0,1.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,08.09.2017,0.0,5.75,5.43,5.81,0.0,0.0,1350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09.09.2017,0.0,6.85,6.09,6.10,0.0,0.0,2350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10.09.2017,1.0,6.34,5.23,6.06,0.0,1.0,1600,250.0,0.0,...,0.0,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,01.04.2018,0.0,5.39,5.52,5.75,0.0,1.0,2900,300.0,250.0,...,60.0,10.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0
208,02.04.2018,0.0,5.32,5.90,5.37,0.0,0.0,3200,300.0,0.0,...,83.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,03.04.2018,0.0,5.64,5.55,5.82,0.0,1.0,2850,300.0,0.0,...,60.0,0.0,0.0,60.0,0.0,0.0,59.0,0.0,0.0,0.0
210,04.04.2018,0.0,4.78,4.98,5.03,0.0,0.0,2600,300.0,0.0,...,15.0,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,05.04.2018,0.0,5.42,5.38,5.59,0.0,1.0,3130,300.0,250.0,...,45.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.model_selection import train_test_split

y = df_cat['PH_morning']
X = df_cat.iloc[:,6:100]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.6, random_state=42)
y_train

64     1.0
44     0.0
138    0.0
40     0.0
123    0.0
      ...
106    1.0
14     0.0
92     1.0
179    0.0
102    0.0
Name: PH_morning, Length: 84, dtype: float64

In [16]:
# import the model from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# we choose k = 3 here, due to the small number of data we have
# there isn't a k suitable for all. Generally we want to choose a small odd number.
# large k is generally more costy
knn_model = KNeighborsClassifier(n_neighbors = 3) 

knn_model.fit(X_train, y_train) # train our model to the data set we have. The training set is all the data points
y_pred = knn_model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.59375

In [17]:
# import the model from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# we choose k = 3 here, due to the small number of data we have
# there isn't a k suitable for all. Generally we want to choose a small odd number.
# large k is generally more costy
knn_model = KNeighborsClassifier(n_neighbors = 3) 

knn_model.fit(X_train, y_train) # train our model to the data set we have. The training set is all the data points
y_pred = knn_model.predict(X_test)

In [18]:
df_cat

,Date,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),...,Cookie,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly
0,06.09.2017,0.0,5.25,5.55,5.40,0.0,0.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,07.09.2017,1.0,5.70,5.32,6.03,0.0,1.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,08.09.2017,0.0,5.75,5.43,5.81,0.0,0.0,1350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09.09.2017,0.0,6.85,6.09,6.10,0.0,0.0,2350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10.09.2017,1.0,6.34,5.23,6.06,0.0,1.0,1600,250.0,0.0,...,0.0,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,01.04.2018,0.0,5.39,5.52,5.75,0.0,1.0,2900,300.0,250.0,...,60.0,10.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0
208,02.04.2018,0.0,5.32,5.90,5.37,0.0,0.0,3200,300.0,0.0,...,83.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,03.04.2018,0.0,5.64,5.55,5.82,0.0,1.0,2850,300.0,0.0,...,60.0,0.0,0.0,60.0,0.0,0.0,59.0,0.0,0.0,0.0
210,04.04.2018,0.0,4.78,4.98,5.03,0.0,0.0,2600,300.0,0.0,...,15.0,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,05.04.2018,0.0,5.42,5.38,5.59,0.0,1.0,3130,300.0,250.0,...,45.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Train a random forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

In [21]:
# Define the dietary factors as a dictionary
dietary_factors = {
"Gym":1,
"Liquid":1500,
"Lemon water":250,
"Tea(black/green)":0,
"Fruit tea":600,
"Water":0,
"Latte":0,
"Mineral water (Esentuki - 4)":500,
"Mineral water (Borjomi)":0,
"Mineral water (Prolom)":0,
"Tequila":0,
"Red wine":150,
"White wine":0,
"Strong alcohol":0,
"Beer":0,
"Morse":0,
"Milk":0,
"Orange juice":0,
"Oatmeal":220,
"Pizza with meat":0,
"Cheese Pizza":0,
"Cheesecakes":0,
"Scrambled eggs":0,
"Mayonnaise salad":0,
"Bread":150,
"Meat":0,
"Sauce":0,
"Cutlet":0,
"Sausage":0,
"Fish":0,
"Sushi":0,
"Cod liver":0,
"Cheese":0,
"Curd":0,
"Sour cream":0,
"Buckwheat porridge":0,
"Noodles with vegetables":0,
"Noodles with shrimp":0,
"Meat pilaf":0,
"Meatless pilaf":0,
"Pea soup with meat":0,
"Fried vegetables":0,
"Pyagse with vegetables":0,
"Dumplings with cabbage":0,
"Potato dumplings":180,
"Zucchini Fritters":150,
"Stewed cabbage":0,
"Solyanka with meat":0,
"Eggplant with cheese":0,
"Pasta":0,
"Fried potatoes":0,
"Cooked Potatoes":0,
"Braised Potatoes":0,
"Mashed potatoes":0,
"Apple Pie":0,
"Patty with cabbage":80,
"Curd Pie":0,
"Cheese Pie":0,
"Egg Pie":0,
"Potato pie":0,
"Meat pie":0,
"Khachapuri":0,
"The nuts":0,
"Pumpkin seeds":0,
"Raisins":0,
"Dried apricots":0,
"Vegetable salad":100,
"Eggplant caviar":0,
"The vinaigrette":0,
"Apple":0,
"Peach":0,
"Melon":800,
"Plum":80,
"Tangerines":0,
"Pear":0,
"Watermelon":0,
"Banana":110,
"Grapes":0,
"Pineapple":0,
"Orange":0,
"Paste":10,
"Kumquat":0,
"Ice cream":60,
"Cookie":0,
"Cake":0,
"Bun":0,
"Croissant":0,
"Chocolate":0,
"Candies":0,
"Halva":0,
"Marshmallow":0,
"Red caviar":0,
"Jelly":0
}

In [22]:
# Create a DataFrame with the dietary factors
diet = pd.DataFrame(dietary_factors, index=[0])
# Predict the urine pH level based on the dietary factors
#urine_ph = knn.predict(diet)[0]
urine_ph = clf.predict(diet)[0]
# Print the predicted urine pH level
print(f"The predicted urine pH level is {urine_ph}")

# Check if the predicted urine pH level is within the recommended range
# if urine_ph >= 6.4 and urine_ph <= 6.8:
#     print("The predicted urine pH level is within the recommended range.")
# else:
#     print("The predicted urine pH level is not within the recommended range.")

The predicted urine pH level is 1.0

In [248]:
import mysql.connector
import pandas as pd

import json

with open('config.json') as f:
    config = json.load(f)


cnx = mysql.connector.connect(user=config['user'],
                              password=config['password'],
                              host=config['host'],
                              database=config['database'])

cursor = cnx.cursor()

# Example query
query = ("SELECT * FROM PH_Temp_Diet")

cursor.execute(query)

# Fetch the rows
rows = cursor.fetchall()

# Create a pandas DataFrame
data = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])


cursor.close()
cnx.close()

In [121]:
df =data
df.head(5)

      id   PH  temperature         food_name  amount        date  person_id
0  39446  5.4         35.8               Gym     0.0  06.09.2017          1
1  39447  5.4         35.8            Liquid  1300.0  06.09.2017          1
2  39448  5.4         35.8       Lemon water   250.0  06.09.2017          1
3  39449  5.4         35.8  Tea(black/green)     0.0  06.09.2017          1
4  39450  5.4         35.8         Fruit tea   600.0  06.09.2017          1

In [88]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [89]:
# drop irrelevant columns
df = df.drop(['id', 'temperature', 'date'], axis=1)

# encode categorical variable (food_name)
label_encoder = LabelEncoder()
df['food_name'] = label_encoder.fit_transform(df['food_name'])

# split data into train and test sets
X = df.drop('PH', axis=1)
y = df['PH']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train

       food_name  amount  person_id
14930         28     0.0          1
13618         62     0.0          1
16614         45    84.0          1
10366         23     0.0          1
9286          57     0.0          1
...          ...     ...        ...
11284         15     0.0          1
11964         45     0.0          1
5390          33    10.0          1
860           43     0.0          1
15795         65     0.0          1

[15772 rows x 3 columns]

In [50]:
# initialize and fit the decision tree regressor model
dt_reg = DecisionTreeRegressor(random_state=42)
dt_reg.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

In [90]:
# predict pH values for test set
y_pred = dt_reg.predict(X_test)

# calculate root mean squared error
rmse = mean_squared_error(y_test, y_pred, squared=False)
print('Root Mean Squared Error:', rmse)

Root Mean Squared Error: 0.4890191679630359

In [91]:
# assuming you have a new DataFrame with data for a specific person_id, food_name, and amount
new_data = pd.DataFrame({'food_name': ['Water'], 'amount': [200], 'person_id': [1]})
new_data['food_name'] = label_encoder.transform(new_data['food_name'])

# predict the pH value for the new data
pH_prediction = dt_reg.predict(new_data)
print('Predicted pH value:', pH_prediction[0])

Predicted pH value: 5.915000000000001

In [92]:
from sklearn.linear_model import LinearRegression
# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [93]:
predictions = model.predict(X_test)

In [94]:
# Evaluate the model
score = model.score(X_test, y_test)
print("R-squared score: {:.2f}".format(score))

R-squared score: -0.00

In [95]:
# predict the pH value for the new data
pH_prediction = model.predict(new_data)
print('Predicted pH value:', pH_prediction[0])

Predicted pH value: 5.966002131849904

In [162]:
df2= data
df2.head(5)
# encode categorical variable (food_name)
# label_encoder = LabelEncoder()
# df2['food_name'] = label_encoder.fit_transform(df2['food_name'])

      id   PH  temperature         food_name  amount        date  person_id
0  39446  5.4         35.8               Gym     0.0  06.09.2017          1
1  39447  5.4         35.8            Liquid  1300.0  06.09.2017          1
2  39448  5.4         35.8       Lemon water   250.0  06.09.2017          1
3  39449  5.4         35.8  Tea(black/green)     0.0  06.09.2017          1
4  39450  5.4         35.8         Fruit tea   600.0  06.09.2017          1

In [237]:
# Group data by person_id and date, and aggregate food_name and amount values
X_train = data.groupby(['person_id', 'date'])[['food_name', 'amount']].agg(list)
y_train = data.groupby(['person_id', 'date'])['PH'].mean()
print(X_train.head(1)['food_name'])

person_id  date
1          01.01.2018    [Gym, Liquid, Lemon water, Tea(black/green), F...
Name: food_name, dtype: object

In [238]:
# Convert food_name and amount lists to string representations
X_train['food_name'] = X_train['food_name'].apply(lambda x: ','.join(x))
X_train['amount'] = X_train['amount'].apply(lambda x: ','.join(map(str, [x])))
X_train

                                                              food_name  \
person_id date
1         01.01.2018  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          01.02.2018  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          01.03.2018  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          01.04.2018  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          01.10.2017  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
...                                                                 ...
          30.12.2017  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          31.01.2018  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          31.03.2018  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          31.10.2017  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...
          31.12.2017  Gym,Liquid,Lemon water,Tea(black/green),Fruit ...

                                                                 amount
person_id date
1         01.01.2018  [0.0, 1250.0, 250.0, 0.0, 450.0, 250.0, 300.0,...
          01.02.2018  [0.0, 2500.0, 300.0, 0.0, 800.0, 950.0, 0.0, 3...
          01.03.2018  [1.0, 3050.0, 300.0, 0.0, 500.0, 2000.0, 0.0, ...
          01.04.2018  [1.0, 2900.0, 300.0, 250.0, 0.0, 1400.0, 0.0, ...
          01.10.2017  [1.0, 1750.0, 250.0, 0.0, 500.0, 400.0, 0.0, 2...
...                                                                 ...
          30.12.2017  [0.0, 2200.0, 250.0, 0.0, 700.0, 500.0, 0.0, 0...
          31.01.2018  [0.0, 2500.0, 300.0, 0.0, 550.0, 1200.0, 0.0, ...
          31.03.2018  [0.0, 3195.0, 300.0, 250.0, 0.0, 800.0, 400.0,...
          31.10.2017  [0.0, 1200.0, 250.0, 0.0, 400.0, 300.0, 0.0, 2...
          31.12.2017  [0.0, 2050.0, 250.0, 0.0, 250.0, 750.0, 300.0,...

[212 rows x 2 columns]

In [239]:
# Create a vectorizer to convert food_name and amount strings into feature vectors
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(tokenizer=lambda x: x.split(','))

In [240]:
# # Convert food_name and amount strings into feature vectors
# # Convert food_name and amount strings into feature vectors
X_train_transformed = vectorizer.fit_transform(X_train.apply(lambda x: f"{x['food_name']} {x['amount']}", axis=1))
X_train_transformed

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_train_transformed, y_train, test_size=0.2, random_state=42)
X_train

/usr/local/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

<169x477 sparse matrix of type '<class 'numpy.int64'>'
	with 18319 stored elements in Compressed Sparse Row format>

In [241]:
# Train a Linear Regression model on the data
#X_train
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [245]:
# Now you can use the model to predict PH values for new data
# X_test = pd.DataFrame({
#     'person_id': ['1', '2'],
#     'date': ['01.01.2018', '01.01.2018'],
#     'food_name': [['Gym', 'Liquid', 'Lemon water', 'Tea(black/green)'], ['Water', 'Water']],
#     'amount': [[1,200,150,150], [10000, 2000000]]
# })
# X_test = X_test.groupby(['person_id', 'date'])[['food_name', 'amount']].agg(list)
# X_test['food_name'] = X_test['food_name'].apply(lambda x: ', '.join(map(str, x)))
# X_test = vectorizer.fit_transform(X_test.apply(lambda x: f"{x['food_name']} {x['amount']}", axis=1))
# X_test
y_test = model.predict(X_test)
X_test
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_test, y_pred))

<43x477 sparse matrix of type '<class 'numpy.int64'>'
	with 4689 stored elements in Compressed Sparse Row format>